<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2><small>Pay loan</small></h2>
		</div>
			<div class="text-center">
			<div class="totalamount">
				<span>Loan Amount</span>
				<i class="fa fa-rupee"></i> {{overview.balance}}	
			</div>
			<div class="totalamount">
				<span>Loan Paid</span>
				<i class="fa fa-rupee"></i> {{overview.savings}}	
			</div>
			<div class="totalamount">
				<span>Curent Outstanding</span>
				<i class="fa fa-rupee"></i> {{overview.interest}}	
			</div>
		</div>
		
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center overview-tiles">
						<div class="row">
							<div>
								<h3>Loan Transaction Details</h3>
								<div class="table-responsive">
									<table class="table">
										<tr>
											<th>#</th>
											<td>Date</td>
											<th>Interest(%)- MTH</th>
											<th>Interest Amount</th>
											<th>Principal Amount</th>
											<th>Balance</th>
											<th>Action</th>
										</tr>
										<tr ng-repeat="(k,p) in pendingtransactions">
											<td>{{$index + 1}}</td>
											<td>{{p.ts | date: 'dd-MM-yyyy'}}</td>
											<td></td>
											<td></td>
											<td><input class="form-control" type="number" ></input></td>
											<td></td>
											<td><button class="btn btn-primary">Pay</button></td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>
